<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhangsc.dao.customer.ContactMapper">
    <resultMap id="rm" type="TCusContactCustom">
    <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="cus_id" property="cusId" jdbcType="BIGINT" />
        <result column="role" property="role" jdbcType="VARCHAR" />
        <result column="callname" property="callname" jdbcType="VARCHAR" />
        <result column="position" property="position" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="qq" property="qq" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="postcode" property="postcode" jdbcType="VARCHAR" />
        <result column="create_by" property="createBy" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
        <result column="first_contact" property="firstContact" jdbcType="INTEGER" />
        <result column="ch1" property="ch1" jdbcType="VARCHAR" />
        <result column="ch2" property="ch2" jdbcType="VARCHAR" />
        <result column="ch3" property="ch3" jdbcType="VARCHAR" />
        <result column="cus_name" property="cusName" jdbcType="VARCHAR"/>
        <result column="createrName" property="createrName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="query" resultMap="rm" parameterType="TCusContactCustom">
        SELECT
            ct.*, tcr.cus_name cusName,
            tsu.account createrName
        FROM
            t_cus_contact ct
        LEFT JOIN t_cus_customer tcr ON tcr.id = ct.cus_id
        LEFT JOIN t_sys_user tsu ON ct.create_by = tsu.id

        WHERE
	    1 = 1
        <if test="beginTime !=  null">
            and DATE_FORMAT(ct.create_time,'%y-%m-%d') >= DATE_FORMAT(#{beginTime},'%y-%m-%d')
        </if>
        <if test="endTime !=  null">
            and DATE_FORMAT(ct.create_time,'%y-%m-%d') <![CDATA[<=]]> DATE_FORMAT(#{endTime},'%y-%m-%d')
        </if>

        <if test="queryStr != null and queryStr !=''">
        AND (
        ct.qq LIKE #{queryStr}
        OR tcr.cus_name LIKE '%${queryStr}%'
        OR ct.email LIKE '%${queryStr}%'
        OR ct.name LIKE '%${queryStr}%'
        OR ct.email LIKE '%${queryStr}%'
        OR ct.position LIKE '%${queryStr}%'
        OR ct.role LIKE '%${queryStr}%'
        OR ct.phone LIKE '%${queryStr}%'
            )
        </if>
        <if test="cusId != null" >
            and cus_id = #{cusId}

        </if>
        order by ct.create_time desc

    </select>

    <insert id="save" parameterType="TCusContactCustom">
        INSERT INTO t_cus_contact
        VALUES (
          #{id},
          #{name},
          #{cusId},
          #{role},
          #{callname},
          #{position},
          #{phone},
          #{qq},
          #{email},
          #{address},
          #{postcode},
          #{createBy},
          #{createTime},
          #{modifyTime},
          #{firstContact},
          #{ch1},
          #{ch2},
          #{ch3}
        )

    </insert>
    <select id="queryById" parameterType="Long" resultMap="rm">
       SELECT
            ct.*, tcr.cus_name cusName,
            tsu.account createrName
        FROM
            t_cus_contact ct
        LEFT JOIN t_cus_customer tcr ON tcr.id = ct.cus_id
        LEFT JOIN t_sys_user tsu ON ct.create_by = tsu.id

        WHERE
	    1 = 1
	    AND ct.id = #{id}

    </select>

    <update id="update" parameterType="TCusContactCustom">
        UPDATE
          t_cus_contact
          <set>
              <if test="name != null">
                  name = #{name},
              </if>

              <if test="cusId != null">
                  cus_id = #{cusId},
              </if>

              <if test="role != null">
                  role = #{role},
              </if>

              <if test="callname != null">
                  callname = #{callname},
              </if>

              <if test="position != null">
                  position = #{position},
              </if>

              <if test="phone != null">
                  phone = #{phone},
              </if>

              <if test="qq != null">
                  qq = #{qq},
              </if>

              <if test="email != null">
                  email = #{email},
              </if>

              <if test="address != null">
                  address = #{address},
              </if>

              <if test="postcode != null">
                  postcode = #{postcode},
              </if>

              <if test="createBy != null">
                  create_by = #{createBy},
              </if>

              <if test="createTime != null">
                  create_time = #{createTime},
              </if>

              <if test="modifyTime != null">
                  modify_time = #{modifyTime},
              </if>

              <if test="firstContact != null">
                  first_contact = #{firstContact},
              </if>

              <if test="ch1 != null">
                  ch1 = #{ch1},
              </if>

              <if test="ch2 != null">
                  ch2 = #{ch2},
              </if>

              <if test="ch1 != null">
                  ch2 = #{ch2},
              </if>


          </set>

        <where>
            id=#{id}

        </where>
    </update>

    <update id="updateFirstContact" parameterType="TCusContactCustom">
          UPDATE
            t_cus_contact
            <set>
                    first_contact = 0
            </set>
                    <where>
                        cus_id = #{cusId}
                        and #{firstContact} = 1;
                    </where>

    </update>

    <delete id="delete" parameterType="Long">
         DELETE FROM
          t_cus_contact
          WHERE
          id = #{id}

    </delete>

    <update id="updateSet0" parameterType="TCusContactCustom">
        UPDATE
        t_cus_contact
        <set>
            first_contact = 0
        </set>
        <where>
            cus_id = #{cusId}
        </where>
    </update>

    <update id="updateSet1" parameterType="TCusContactCustom">
        UPDATE
        t_cus_contact
        <set>
            first_contact = 1
        </set>
        <where>
            id = #{id}

        </where>

    </update>

</mapper>