<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhangsc.dao.sys.TSysUserMapper" >
  <resultMap id="BaseResultMap" type="com.zhangsc.pojo.sys.TSysUser" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="dept_id" property="deptId" jdbcType="BIGINT" />
    <result column="position_id" property="positionId" jdbcType="BIGINT" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="join_date" property="joinDate" jdbcType="TIMESTAMP" />
    <result column="introduce" property="introduce" jdbcType="VARCHAR" />
    <result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR" />
    <result column="office_phone" property="officePhone" jdbcType="VARCHAR" />
    <result column="qq_msn" property="qqMsn" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="icon_url" property="iconUrl" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modi_by" property="modiBy" jdbcType="BIGINT" />
    <result column="modi_time" property="modiTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="ch1" property="ch1" jdbcType="VARCHAR" />
    <result column="ch2" property="ch2" jdbcType="VARCHAR" />
    <result column="ch3" property="ch3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, account, name, gender, age, dept_id, position_id, birthday, join_date, introduce, 
    mobile_phone, office_phone, qq_msn, email, address, icon_url, password, create_by, 
    create_time, modi_by, modi_time, status, ch1, ch2, ch3
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhangsc.pojo.sys.TSysUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_sys_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_sys_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_sys_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhangsc.pojo.sys.TSysUserExample" >
    delete from t_sys_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhangsc.pojo.sys.TSysUser" >
    insert into t_sys_user (id, account, name, 
      gender, age, dept_id, 
      position_id, birthday, join_date, 
      introduce, mobile_phone, office_phone, 
      qq_msn, email, address, 
      icon_url, password, create_by, 
      create_time, modi_by, modi_time, 
      status, ch1, ch2, ch3
      )
    values (#{id,jdbcType=BIGINT}, #{account,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{gender,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{deptId,jdbcType=BIGINT}, 
      #{positionId,jdbcType=BIGINT}, #{birthday,jdbcType=TIMESTAMP}, #{joinDate,jdbcType=TIMESTAMP}, 
      #{introduce,jdbcType=VARCHAR}, #{mobilePhone,jdbcType=VARCHAR}, #{officePhone,jdbcType=VARCHAR}, 
      #{qqMsn,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{iconUrl,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{createBy,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modiBy,jdbcType=BIGINT}, #{modiTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{ch1,jdbcType=VARCHAR}, #{ch2,jdbcType=VARCHAR}, #{ch3,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhangsc.pojo.sys.TSysUser" >
    insert into t_sys_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="deptId != null" >
        dept_id,
      </if>
      <if test="positionId != null" >
        position_id,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="joinDate != null" >
        join_date,
      </if>
      <if test="introduce != null" >
        introduce,
      </if>
      <if test="mobilePhone != null" >
        mobile_phone,
      </if>
      <if test="officePhone != null" >
        office_phone,
      </if>
      <if test="qqMsn != null" >
        qq_msn,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="iconUrl != null" >
        icon_url,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modiBy != null" >
        modi_by,
      </if>
      <if test="modiTime != null" >
        modi_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="ch1 != null" >
        ch1,
      </if>
      <if test="ch2 != null" >
        ch2,
      </if>
      <if test="ch3 != null" >
        ch3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=BIGINT},
      </if>
      <if test="positionId != null" >
        #{positionId,jdbcType=BIGINT},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="joinDate != null" >
        #{joinDate,jdbcType=TIMESTAMP},
      </if>
      <if test="introduce != null" >
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null" >
        #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="officePhone != null" >
        #{officePhone,jdbcType=VARCHAR},
      </if>
      <if test="qqMsn != null" >
        #{qqMsn,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="iconUrl != null" >
        #{iconUrl,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modiBy != null" >
        #{modiBy,jdbcType=BIGINT},
      </if>
      <if test="modiTime != null" >
        #{modiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="ch1 != null" >
        #{ch1,jdbcType=VARCHAR},
      </if>
      <if test="ch2 != null" >
        #{ch2,jdbcType=VARCHAR},
      </if>
      <if test="ch3 != null" >
        #{ch3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhangsc.pojo.sys.TSysUserExample" resultType="java.lang.Integer" >
    select count(*) from t_sys_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_sys_user
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.account != null" >
        account = #{record.account,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null" >
        gender = #{record.gender,jdbcType=VARCHAR},
      </if>
      <if test="record.age != null" >
        age = #{record.age,jdbcType=INTEGER},
      </if>
      <if test="record.deptId != null" >
        dept_id = #{record.deptId,jdbcType=BIGINT},
      </if>
      <if test="record.positionId != null" >
        position_id = #{record.positionId,jdbcType=BIGINT},
      </if>
      <if test="record.birthday != null" >
        birthday = #{record.birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="record.joinDate != null" >
        join_date = #{record.joinDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.introduce != null" >
        introduce = #{record.introduce,jdbcType=VARCHAR},
      </if>
      <if test="record.mobilePhone != null" >
        mobile_phone = #{record.mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="record.officePhone != null" >
        office_phone = #{record.officePhone,jdbcType=VARCHAR},
      </if>
      <if test="record.qqMsn != null" >
        qq_msn = #{record.qqMsn,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.iconUrl != null" >
        icon_url = #{record.iconUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modiBy != null" >
        modi_by = #{record.modiBy,jdbcType=BIGINT},
      </if>
      <if test="record.modiTime != null" >
        modi_time = #{record.modiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.ch1 != null" >
        ch1 = #{record.ch1,jdbcType=VARCHAR},
      </if>
      <if test="record.ch2 != null" >
        ch2 = #{record.ch2,jdbcType=VARCHAR},
      </if>
      <if test="record.ch3 != null" >
        ch3 = #{record.ch3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_sys_user
    set id = #{record.id,jdbcType=BIGINT},
      account = #{record.account,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      gender = #{record.gender,jdbcType=VARCHAR},
      age = #{record.age,jdbcType=INTEGER},
      dept_id = #{record.deptId,jdbcType=BIGINT},
      position_id = #{record.positionId,jdbcType=BIGINT},
      birthday = #{record.birthday,jdbcType=TIMESTAMP},
      join_date = #{record.joinDate,jdbcType=TIMESTAMP},
      introduce = #{record.introduce,jdbcType=VARCHAR},
      mobile_phone = #{record.mobilePhone,jdbcType=VARCHAR},
      office_phone = #{record.officePhone,jdbcType=VARCHAR},
      qq_msn = #{record.qqMsn,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      icon_url = #{record.iconUrl,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      create_by = #{record.createBy,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      modi_by = #{record.modiBy,jdbcType=BIGINT},
      modi_time = #{record.modiTime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=INTEGER},
      ch1 = #{record.ch1,jdbcType=VARCHAR},
      ch2 = #{record.ch2,jdbcType=VARCHAR},
      ch3 = #{record.ch3,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhangsc.pojo.sys.TSysUser" >
    update t_sys_user
    <set >
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="deptId != null" >
        dept_id = #{deptId,jdbcType=BIGINT},
      </if>
      <if test="positionId != null" >
        position_id = #{positionId,jdbcType=BIGINT},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="joinDate != null" >
        join_date = #{joinDate,jdbcType=TIMESTAMP},
      </if>
      <if test="introduce != null" >
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null" >
        mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="officePhone != null" >
        office_phone = #{officePhone,jdbcType=VARCHAR},
      </if>
      <if test="qqMsn != null" >
        qq_msn = #{qqMsn,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="iconUrl != null" >
        icon_url = #{iconUrl,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modiBy != null" >
        modi_by = #{modiBy,jdbcType=BIGINT},
      </if>
      <if test="modiTime != null" >
        modi_time = #{modiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="ch1 != null" >
        ch1 = #{ch1,jdbcType=VARCHAR},
      </if>
      <if test="ch2 != null" >
        ch2 = #{ch2,jdbcType=VARCHAR},
      </if>
      <if test="ch3 != null" >
        ch3 = #{ch3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhangsc.pojo.sys.TSysUser" >
    update t_sys_user
    set account = #{account,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      dept_id = #{deptId,jdbcType=BIGINT},
      position_id = #{positionId,jdbcType=BIGINT},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      join_date = #{joinDate,jdbcType=TIMESTAMP},
      introduce = #{introduce,jdbcType=VARCHAR},
      mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      office_phone = #{officePhone,jdbcType=VARCHAR},
      qq_msn = #{qqMsn,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      icon_url = #{iconUrl,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modi_by = #{modiBy,jdbcType=BIGINT},
      modi_time = #{modiTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      ch1 = #{ch1,jdbcType=VARCHAR},
      ch2 = #{ch2,jdbcType=VARCHAR},
      ch3 = #{ch3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>